/*-------------------------------------------------------*/
/*---------------------- GENERAL ------------------------*/
/*-------------------------------------------------------*/

:root{
    --primary-color:#4359F5;
    --content-color:#6E718E;
    --gradient-color:#4358f544;
    --dark-color:   #000;
    --padding: 15px;
    --primary-color-light:#4358f520;
    --primary-color-light-100:#4358f50b;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: Poppins , Arial, Helvetica, sans-serif;
    color: var(--content-color);
    font-size: 2rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: var(--content-color)
}


/*-------------------------------------------------------*/
/*---------------------- UTILITIES ----------------------*/
/*-------------------------------------------------------*/

.colorizer{
    color: var(--primary-color); 
    font-weight: bold;
} 

.container{
    max-width: 1242px;
    padding: 0 var(--padding);
    margin: 0 auto;
}

.container--shadow{
    border-radius: 2.5rem;
    background-color: white;
    border: 2px solid var(--primary-color-light);
    box-shadow: 0 1rem 4rem .7rem var(--primary-color-light) ;
}

/* .container--border{
    border-radius: 2.5rem;
    background-color: var(--primary-color-light-100);
    border: 2px solid var(--primary-color-light);
} */

.grid{
    display: grid;
}

.grid--col-1{
  justify-items: center;
}

@media screen  and (min-width: 1024px){

    .container{
      padding: 0 calc(var(--padding) * 2);

    }
}

/*-------------------------------------------------------*/
/*---------------------- HEADINGS -----------------------*/
/*-------------------------------------------------------*/

h1, h2{
    color: var(--primary-color);
}

h1{
    font-size: 4rem;
    margin-bottom: 1.8rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;

}

h3{
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}


@media screen  and (min-width: 1024px){

    h1{
        font-size: 6rem;
    }
}

/*-------------------------------------------------------*/
/*---------------------- LIST ---------------------------*/
/*-------------------------------------------------------*/


.list{
    list-style: none;
}


/*-------------------------------------------------------*/
/*---------------------- NAV ----------------------------*/
/*-------------------------------------------------------*/

.nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .15s ease-in-out;
}

#logo{
    font-size: 2.5rem;
    color: var(--dark-color);
}

.nav__button{
    display: none;
    text-wrap: nowrap;
}

.nav__list{
    display: none;
    margin-top: 2rem;
}


.nav__item{
    margin-right: 3rem;
    text-wrap: nowrap;
    
}

.nav__item , .nav__item > a{
    color: var(--dark-color);
    transition: color .2s;
}

.nav__item:hover, .nav__item > a:hover{
    color: var(--primary-color);  
}


.nav__dropdown-button{
    margin-bottom: 2rem;
}

.nav__dropdown-button::after{
    display: inline-block;
    margin-left: .8rem;
    width: 2rem;   
    content: url(../assets/svgs/chevron-down-solid.svg);
    transition: all .4s;
}

.nav__item:hover ::after{
    transform: rotate(180deg);
  
}

.nav__dropdown{
    position: absolute;
    max-width: 59rem; 
    opacity: 0;
    transform: translateX(-25%);
    transition: opacity .3s ease-in-out;
    z-index: -99;  
    display: flex;
    overflow: hidden;
}

.nav__link{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
    padding: calc( var(--padding)* 1.05) calc(var(--padding ) * 2) ;
    border-radius: 1.5rem;
}

.nav__item:hover .nav__dropdown{
    opacity: 1;
    z-index: 1;
 }

 .option{
    padding: calc(var(--padding) * 1.1)  ;
    background-color: var(--primary-color-light-100);
    width: 37.5%;
    display: flex;
    flex-direction: column;
    align-items:start;
 }

 .option__name{
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 500;
    padding: calc( var(--padding)* 1.05) var(--padding) ;
    border-radius: 1.5rem;
    transition:  box-shadow .15s ease-in-out,  background-color .1s ease-in-out;
 }


 .option__details{
    padding: calc(var(--padding) * 1.1);
 }

 .option__detail{
     display: none;
     color: var(--content-color);
 }

 .option--show{
    display: initial;
 }

 .dropdown__item{
    display: grid;
    grid-template: 1fr/ .2fr 1fr;
    margin-bottom: 2rem;
 }

 .dropdown__image{
    border-radius: 1.5rem ;
    width: 5.5rem; 
    height: 5.5rem;
 }

 .dropdown__texts{
    font-size: 1.1rem;
    margin-left: 1rem;
    white-space: wrap;
 }

 .dropdown__title{
    font-weight: bold;
    color:var(--primary-color);
    margin-bottom: .2rem;
 }



@media screen and (min-width:1024px) {
    .nav__button{
        display: initial;
     
    }

    .nav__list{
        display: flex;
    }
    
}



/*-------------------------------------------------------*/
/*---------------------- ICON ---------------------------*/
/*-------------------------------------------------------*/

.icon{
    font-size: 30px;
}

.icon--primary{
    color: var(--primary-color);
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 5px 30px var(--gradient-color); 
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 1024px) {
    .icon-container{
        display: none;
    }
    
}


/*-------------------------------------------------------*/
/*---------------------- BUTTONS ------------------------*/
/*-------------------------------------------------------*/



.btn{
    padding: 2rem 2.8rem;
    font-weight: bold;
    border-radius: 20px 20px 0 20px;
    border: none
}

.btn--primary{
    background-color: var(--primary-color);
    color: white;
    font-size: 1.8rem;
}



/*-------------------------------------------------------*/
/*---------------------- HERO ---------------------------*/
/*-------------------------------------------------------*/

.hero{
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72rem;
    background: linear-gradient(to bottom, transparent 75%, var(--gradient-color));
}

.hero__tagline{
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    transition: all .15s ease-in-out;
}

.hero__text{
    text-align: center;
    padding-bottom: 3rem;

}


.hero__image{
    position: absolute;
    bottom: 0; 
    z-index: -99;
   
}   


@media screen and (min-width: 768px) {

    .hero__tagline{
         padding: 0 15rem;
    }

    .hero__image{
        height: 40rem;
    }

    .hero{
        height: 75rem;
    }
    
}


@media screen and (min-width: 1024px){

    .hero > .btn{
        display: none;
    }
    
}

