/*-------------------------------------------------------*/
/*-------------------- GENERAL SETUP --------------------*/
/*-------------------------------------------------------*/

:root{
    --primary-color:#4359F5;
    --content-color:#6E718E;
    --gradient-color:#4358f544;
    --accent-color: #4358f546;
    --solid-dark-color: black;
    --solid-light-color: white;
    --padding: 15px;
    --primary-color-light:#4358f521;
    --primary-color-light-100:#4358f50b;
    --button-shadow: 0 0.5rem 3rem 0.2rem var(--accent-color);
    --font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body, textarea, input{
    font-family: var(--font-family);
    font-size: 1.8rem;
    color: var(--content-color);
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: var(--content-color)
}

::selection{
    background-color: var(--accent-color);
}


/*-------------------------------------------------------*/
/*---------------------- UTILITIES ----------------------*/
/*-------------------------------------------------------*/

.colorizer{
    color: var(--primary-color); 
    font-weight: bold;
} 

.container{
    max-width: 1242px;
    padding: 0 var(--padding);
    margin: 0 auto;
}

.container--shadow{
    border-radius: 2rem;
    background-color: var(--solid-light-color);
    border: 2px solid var(--primary-color-light);
    box-shadow: 0 1rem 4rem .7rem var(--primary-color-light) ;
}

.container--border{
    border-radius: 2.5rem;
    background-color: var(--primary-color-light-100);
    border: 2px solid var(--primary-color-light);
}

.grid{
    display: grid;
}

.grid--col-1{
  justify-items: center;
}

@media screen  and (min-width: 1024px){

    .container{
      padding: 0 calc(var(--padding) * 2);

    }
}

/*-------------------------------------------------------*/
/*---------------------- HEADINGS -----------------------*/
/*-------------------------------------------------------*/

h1, h2{
    color: var(--primary-color);
}

h1{
    font-size: 4rem;
    margin-bottom: 1.8rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;

}

h3{
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}


@media screen  and (min-width: 1024px){

    h1{
        font-size: 6rem;
    }
}

/*-------------------------------------------------------*/
/*---------------------- LIST ---------------------------*/
/*-------------------------------------------------------*/


.list{
    list-style: none;
}


/*-------------------------------------------------------*/
/*---------------------- BUTTONS ------------------------*/
/*-------------------------------------------------------*/



.btn{
    padding: 2rem 3rem;
    font-weight: bold;
    border-radius: 2rem 2rem 0 2rem ;
    border: none;
    display: inline-block;
    text-align: center;
}

.btn--primary{
    background-color: var(--primary-color);
    color: var(--solid-light-color);
    font-size: 1.8rem;
    box-shadow: var(--button-shadow);
}

.btn--light{
    background-color:var(--solid-light-color);
    color: var(--primary-color);
}



/*-------------------------------------------------------*/
/*---------------------- NAV ----------------------------*/
/*-------------------------------------------------------*/

.nav {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .15s ease-in-out;
}

#logo{
    font-size: 2.5rem;
    color: var(--solid-dark-color);
}

.nav__button{
    display: none;
    text-wrap: nowrap;
}

.nav__list{
    display: none;
    margin-top: 2rem;
}


.nav__item{
    margin-right: 3rem;
    text-wrap: nowrap;
    
}

.nav__item , .nav__item > a{
    transition: color .2s;
}

.nav__item:hover, .nav__item > a:hover{
    color: var(--primary-color);  
}


.nav__dropdown-button{
    margin-bottom: 2rem;
}

.nav__dropdown-button::after{
    display: inline-block;
    margin-left: .8rem;
    width: 2rem;   
    content: url(../assets/svgs/chevron-down-solid.svg);
    transition: all .4s;
}

.nav__item:hover ::after{
    transform: rotate(180deg);
  
}

.nav__dropdown{
    position: absolute;
    max-width: 59rem; 
    opacity: 0;
    transform: translateX(-25%);
    transition: opacity .3s ease-in-out;
    z-index: -99;  
    display: flex;
    overflow: hidden;
}

.nav__link{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
    padding: calc( var(--padding)* 1.05) calc(var(--padding ) * 2) ;
    border-radius: 1.5rem;
}

.nav__item:hover .nav__dropdown{
    opacity: 1;
    z-index: 1;
 }

 .option{
    padding: calc(var(--padding) * 1.1)  ;
    background-color: var(--primary-color-light-100);
    width: 37.5%;
    display: flex;
    flex-direction: column;
    align-items:start;
 }

 .option__name{
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 500;
    padding: calc( var(--padding)* 1.05) var(--padding) ;
    border-radius: 1.5rem;
    transition:  box-shadow .15s ease-in-out,  background-color .1s ease-in-out;
 }


 .option__details{
    padding: calc(var(--padding) * 1.1);
 }

 .option__detail{
     display: none;
     color: var(--content-color);
 }

 .option--show{
    display: initial;
 }

 .dropdown__item{
    display: grid;
    grid-template: 1fr/ .2fr 1fr;
    margin-bottom: 2rem;
 }

 .dropdown__image{
    border-radius: 1.5rem ;
    width: 5.5rem; 
    height: 5.5rem;
 }

 .dropdown__texts{
    font-size: 1.1rem;
    margin-left: 1rem;
    white-space: wrap;
 }

 .dropdown__title{
    font-weight: bold;
    color:var(--primary-color);
    margin-bottom: .2rem;
 }



@media screen and (min-width:1024px) {
    .nav__button{
        display: initial;
     
    }

    .nav__list{
        display: flex;
    }
    
}



/*-------------------------------------------------------*/
/*---------------------- ICON ---------------------------*/
/*-------------------------------------------------------*/

.icon{
    font-size: 30px;
}

.icon--primary{
    color: var(--primary-color);
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 5px 30px var(--gradient-color); 
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 1024px) {
    .icon-container{
        display: none;
    }
    
}


/*-------------------------------------------------------*/
/*---------------------- HERO ---------------------------*/
/*-------------------------------------------------------*/

.hero{
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72rem;
    background: linear-gradient(to bottom, transparent 75%, var(--gradient-color));
}

.hero__tagline{
    text-align: center;
    color: black;
    margin-bottom: 1rem;
    transition: all .15s ease-in-out;
}

.hero__text{
    text-align: center;
    padding-bottom: 3rem;

}


.hero__image{
    position: absolute;
    bottom: 0; 
    z-index: -99;
   
}   


@media screen and (min-width: 768px) {

    .hero__tagline{
         padding: 0 15%;
    }

    .hero__image{
        height: 50rem;
    }

    .hero{
        height: 75rem;
    }
    
}


@media screen and (min-width: 1024px){

    .hero > .btn{
        display: none;
    }
    
}


/* --------------------------------------------------- */
/* ---------------------- MISSION -------------------- */
/* --------------------------------------------------- */

.mission{
    margin-top: 6rem;
    text-align: center;
    padding: 0 2rem;
}


.mission__subtitle{
    margin: 1.5rem 0;

}


@media screen and (min-width:768px) {

    .mission__subtitle{
      padding: 0 5%;
    }

  .mission__image {
    height: 65rem;
  }
    
}

@media screen and (min-width:1024px) {
    
      .mission__image {
        height: 40rem;
        grid-column-start: 1;
        grid-row-start: 1;
      }

     .mission.grid--col-2{
        grid-template-columns: 0.5fr 0.5fr;
    
      }

     
}


/* --------------------------------------------------- */
/* ---------------------- STAT ----------------------- */
/* --------------------------------------------------- */

.stats{
    margin-top: 5rem;
}

.stats__title{
    text-align: center;
    margin-bottom: 3rem;
}

.stat__item{
    display: flex;
    flex-direction: column;
   margin-top: 3rem;
}

.stat__image{
    height: 7rem;
    width: 7rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.stat__title{
    color: var(--primary-color);
}

.stat__subtitle{
    width:  75%;
}


@media screen and (min-width:768px) {

    .stats__title{
      padding: 0 2%
    }

    .stat__items.grid--col-3{
        grid-template-columns: .34fr .33fr .33fr;
    }

    .stat__image{
        min-width: 7rem;
    }

    .stat__item{
        flex-direction: row;
    
    }
    .stat__text{
        margin-left: 2rem;
        font-size: 1.2rem;
    }
    
}



/* --------------------------------------------------- */
/* ------------------- EXPERIENCE -------------------- */
/* --------------------------------------------------- */

.experience__heading{
    margin-bottom: 5rem;
    text-align: center;
}

.experience{
    margin: 8rem auto;
   
}

.experience__items{
    row-gap: 6rem;
}

.experience__item{
    padding: 2.5rem;
    min-width: 23rem;

}

.experience__image{
    height: 9.5rem;
    margin-bottom: 1.4rem;
}

.experience__title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {

    .experience__title{
        font-size: 2.2rem;
      
    }
    
}

@media screen and (min-width:1024px) {

    .experience__items.grid--col-2{
        grid-template-columns: 0.5fr 0.5fr;
        column-gap: 6rem;
    }
    
}


/* --------------------------------------------------- */
/* ---------------------- ALUMNI --------------------- */
/* --------------------------------------------------- */

.alumni{
    margin-bottom: 8rem;
}
.alumni__title{
    font-size: 2rem;
}
.alumni__content{
    display: flex;
    flex-direction: column;
}

.alumni__company{
    margin: 4rem 4rem 0 0;
    height: 3rem;
}

@media screen and (min-width:768px) {
    
    .alumni__content{
     flex-direction: initial;
    }
    
}



/* --------------------------------------------------- */
/* ------------------- BENEFITS ---------------------- */
/* --------------------------------------------------- */

.benefit{
    color: var(--solid-light-color);
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    padding: 3rem;
    
}

.benefit__heading{
    text-align: center;
    margin-bottom: 5rem;
    color: var(--solid-light-color);
}


.benefit__item{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 4rem;
}

.benefit__title{
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

.benefit__footer{
    margin-top: 2rem;
}

.benefit .btn{
    margin-top: 3rem ;
    margin-bottom: 1.5rem;
}


@media screen and (min-width: 768px) {

    .benefit{
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .benefit__items.grid--col-2{
        grid-template-columns: .5fr .5fr;
        column-gap: 3rem;
    }
    
}

@media screen and (min-width: 1024px) {

    .benefit__items.grid--col-3{
        grid-template-columns: .33fr .33fr .33fr;
    }
    
}



/* --------------------------------------------------- */
/* -------------------- ADMISSION -------------------- */
/* --------------------------------------------------- */

.admission{
    margin-top: 8rem;
    text-align: center;
}

.admission__text{
    margin-top: 2rem;
}

.admission__items{
    display: flex;
    flex-direction: column;
}

.admission__item{
    margin: 5rem 1.8rem 0 1.8rem;
    
}

.admission__title{
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.admission__image{
    height: 9.5rem;
}


@media screen and (min-width:768px) {
   .admission__subtitle{
        padding: 0 15%;
   }
    
}

@media screen and (min-width:1024px) {

    .admission__items{  
        flex-direction: initial;   
    }

    .admission__subtitle{
         padding: initial
    }

 }



/* --------------------------------------------------- */
/* --------------------- CONTACT --------------------- */
/* --------------------------------------------------- */

.contact{
    margin-top: 15rem;
    row-gap: 4rem;
}

.contact__text p:first-of-type {
    font-weight: bold;
    font-size: 2rem;
}

.contact__text{
    text-align: center;
}

.contact__form{
    padding: 3.5rem;
}

.contact__form input[type='text'], input[type='email'], textarea{
        width: 100%;
        outline: none;
        border: 1.5px solid var(--primary-color-light);
        border-radius: 4rem;
        padding: 2rem;
}

.form__group + .form__group  {   
     margin-top: 2.5rem;
}

.form__group > textarea{
    padding: 5rem 2rem  ;
}

.contact__form .btn{
    margin-top: 3rem;
}


@media screen and (min-width: 768px) {

    .contact__text{
        margin-right: 2rem;
        text-align: unset;
        align-self: center;
    }

    .contact.grid--col-2{
        grid-template-columns: .5fr .5fr;
    }
    
}


/* --------------------------------------------------- */
/* ---------------------- FAQS ----------------------- */
/* --------------------------------------------------- */


.faq__background{
    background-color: var(--primary-color);
    margin: 12rem auto;
    padding: 5rem 0;
}

.faq__title{
    color: var(--solid-light-color);
    text-align: center;
    margin-bottom: 3rem;
}

.faq__item{
    background-color: var(--solid-light-color);
    border-radius: 2rem;
    padding: 2.5rem;
    margin-top: 2rem;
    overflow: hidden;
}

.faq__question{
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

.faq__answer{
    margin-top: .7rem;
}

.faq__dropdown.grid--col-2{
    grid-template-columns: 1fr .1fr;
}

.faq__button{
    justify-self: end;
    align-self: center;
    transition: transform .3s;
    cursor: pointer;
}

.faq__button::before{
    display: inline-block;
    content: url(../assets/svgs/chevron-down-solid.svg);
    width: 3rem;
    padding-top: 0.5rem;
    background-color: #fff;
}

.faq--rotate{
    transform: rotate(180deg);
}

.faq--hide{
    display: none;
}

@media screen and (min-width:768px) {

    .faq__item {
        margin: 2rem 4% 0 4%;
    } 
}


/* --------------------------------------------------- */
/* --------------------- FOOTER ---------------------- */
/* --------------------------------------------------- */

.footer{
    background-color: var(--footer-bg-color);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about{
    gap: 3rem;
    margin-bottom: 4rem;
}

.about__text{
    margin-top: .5rem;
}

.social__title{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
}

.social__links{
    display: flex;
    flex-wrap: wrap;
}

.social__link{
    margin-top: 1.5rem;
    min-width: 5rem;
    height: 5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 2rem;
}

.footer__links{
    display: flex;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.footer__list{
    margin-top: 2rem;
    margin-right: 8rem;
}

.footer__list .list{
    flex-direction: column;
}

.list__title{
    margin: .5rem 0;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}

.footer > section > p:last-of-type{
   text-align:  center;
   margin-top: 2rem;
}


@media screen and (min-width:768px) {

   .about__text{
        padding-right: 26%;
    }
}

@media screen and (min-width: 1024px) {

    .about.grid--col-2{
        grid-template-columns: .6fr .4fr;
    }
    
}
